{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["v1"],
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
  },
  "globals": {
    "expect": true,
    "test": true,
    "document": true,
    "describe": true
  },
  "rules": {
    "react/jsx-filename-extension": false
  }
}